<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
	<groups>
      <run>
      <exclude name="Group_1" />
      </run>
   </groups>
    <classes>
      <class name="testSuite.hard_Assert_example"/>
      <class name="testSuite.soft_Assert_example"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
